*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: rebeccapurple;
    color: white;
}
body{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.links{
    text-decoration: underline;
    color: white; 
}
